.watch,
.ring,
.bevel,
.display {
  display: block;
}

p {
  max-width: 32em;
  font-family: monospace;
  text-align: center;
}
.watch {
  margin: 2em auto;
}

.watch:focus {
  outline: none;
}

.ring-circle {
  fill: silver;
} 

.watch:focus .ring-circle {
  fill: black;
}

.bevel-circle {
  fill: silver;
}

.display-circle {
  fill: white;
}

.main-name-text {
  text-anchor: middle;
}
.main-value-text {
  text-anchor: middle;
  font-size: 24px;
  font-weight: bold;
}

text {
  font-family: monospace;
  font-size: 16px;
}

.knob .base {
  fill: #f2f2f2;
  stroke: lightgray;
  cursor: pointer;
}
.knob .indicator {
  fill: gray;
  stroke: none;
}

.knob.selected .base {
  fill: yellow;
  stroke: black;
  stroke-width: 2px;
}
.knob.selected .indicator {
  fill: black;
  r: 4px;
}


.end-stop {
  fill: none;
  stroke: gray;
  stroke-width: 10px;
}

.grip {
  fill: none;
  stroke: white;
  stroke-width: 20px;
  transform-origin: center;
  /*transition: transform .1s ease-in-out;  */
}


.progress-circle {
  fill: black;
  stroke: none;
}

.control-text {
  text-anchor: middle;
  font-size: 12px;
  fill: none;
}